@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.card{
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.d-block{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}
.container{
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 20px;
    
}
strong{
    text-align: center;
}
p{
    text-align: center;
}