@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
.services h5, h2, h3, h4{
    font-family: 'Arvo', serif;
}
.d-block{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

li{
    margin-bottom: 8px;
}
